body{
	text-align: center
}

.container{
	margin-top: 20px;
}

span:hover{
	filter: drop-shadow(2px 2px 2px gray)
}

.card{
	width: 12%;
	filter: drop-shadow(4px 4px 4px gray);
	margin: 5px;
	border-radius: 0px;
	border: none;
	padding: 7px;
}

.non{
	width: 12%;
	margin: 5px;
	border-radius: 0px;
	border: none;
	padding: 7px;
}

.head{
	background-color: #4cc0f6;
	color: white;
}

.today{
	background-color: #4E1147;
	color: white;
}

#go{
	width: 12%;
	filter: drop-shadow(4px 4px 4px gray);
	margin: 5px;
}

 @media only screen and (max-width: 600px) {
 	
 }